*, *::after, *::before {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
}

body {
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

.clock {
  width: 300px;
  height: 300px;
  background-color:  rgba(253,29,29,1) 50%;
  border-radius: 50%;
  border:8px solid black;
  position: relative;
  margin: 10px;
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.5rem;
}

.clock .number1 { --rotation: 30deg; }

.clock .number2 { --rotation: 0deg; 
bottom: -25%;
right: -41%;}

.clock .number3 { --rotation:360deg;
bottom: -48%; right: -45%; }

.clock .number4 { --rotation: 330deg;
bottom: -63%; right: -62%; }

.clock .number5 { --rotation: 323deg;
left: 50%;
bottom: -75%; }

.clock .number6 { --rotation: 360deg;
bottom: -91% ; }

.clock .number7 { --rotation: 360deg ;
 bottom: -84%; left: -23%;}

 .clock .number8 { --rotation: 360deg; bottom: -68%;
left: -41%; }

.clock .number9 { --rotation: 360deg;
bottom: -46%; left: -47%; }

.clock .number10 { --rotation: 300deg; }



.clock .number11 { --rotation: 330deg; }

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: '';
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock .hand.second {
  width: 3px;
  height: 45%;
  background-color: red;
}

.clock .hand.minute {
  width: 7px;
  height: 40%;
  background-color: black;
}

.clock .hand.hour {
  width: 10px;
  height: 35%;
  background-color: black;
}

/* DEGITAL-CLOCK */

.horloge{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 0 2px 50px rgba(10,10,10,0.5);
  margin: 5px;
  padding-left: 10%;

}

.heures{
  width: 500px;
  font-size: 100px;
  padding-bottom: 5px;
}
.text{
  color: #000;
  font-size: xx-large;
  display: flex;
  align-items: center;
  margin: 5px;
}

